@import url(../contato/stylecontatomobile.css) (max-width:500px);
@import url(../contato/stylecontatotablet.css) (min-width:500px) and (max-width:900px);
@import url(../contato/stylecontatopc.css)     (min-width:900px);


*{margin: 0;padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; }
/* reset css */


